saves
logs
crash-reports
.mixin.out
asm
astralsorcery
backups
bendspacks
betweenlands_gallery
data
downloads
llibrary
local
resourcepacks
orbis
screenshots
shaderpacks
structures
*.jar
options.txt
optionsof.txt
mods/新建文本文档.bat
optionsshaders.txt
usercache.json
usernamecache.json
dropt.log
crafttweaker.log
ExtraBotanyVars.dat
minecraftinstance.json
mods/i18nupdatemod-1.12.2-1.1.0.jar.disabled
mods/memory_repo/blusunrize/ImmersiveEngineering-core/0.12-98/ImmersiveEngineering-core-0.12-98.jar.meta
config/splash.properties
config/BiomeTweaker/output/biome
config/jei/worldSettings.cfg
*.disabled
