saves
logs
crash-reports
.mixin.out
asm
astralsorcery
backups
bendspacks
betweenlands_gallery
data
downloads
llibrary
local
resourcepacks
orbis
screenshots
shaderpacks
structures
*.jar
options.txt
optionsof.txt
mods/新建文本文档.bat
optionsshaders.txt
usercache.json
usernamecache.json
dropt.log
crafttweaker.log
ExtraBotanyVars.dat
minecraftinstance.json
**/output/biome
config/jei/worldSettings.cfg
*.disabled
resources/contenttweaker/models/item/
resources/contenttweaker/blockstates/
hs_err_pid35000.log
mods/memory_repo/angrypixel/TheBetweenlands/3.7.3-SNAPSHOT/maven-metadata.json
mods/memory_repo/angrypixel/TheBetweenlands/3.7.3-SNAPSHOT/TheBetweenlands-3.7.3-SNAPSHOT-20210323.042210-core.jar.meta
mods/memory_repo/com/gildedgames/orbis-lib/1.12.2-0.2.0+build411/orbis-lib-1.12.2-0.2.0+build411.jar.meta
mods/memory_repo/me/jellysquid/mods/phosphor/1.12.2-0.2.6+build50/phosphor-1.12.2-0.2.6+build50.jar.meta
mods/memory_repo/net/ilexiconn/llibrary-core/1.0.11-1.12.2/llibrary-core-1.0.11-1.12.2.jar.meta
NameWakander/AdvancementNames.txt
NameWakander/BiomeIDs.txt
NameWakander/BlockAndItemWithMetaNames.txt
NameWakander/BlockStateList.txt
NameWakander/DimensionIDs.txt
NameWakander/EnchantmentIDs.txt
NameWakander/EntityNames.txt
NameWakander/FluidIDs.txt
NameWakander/OreNames.txt
NameWakander/PotionIDs.txt
NameWakander/VillagerProfessionList.txt
nu-whitelist.txt
patchouli_data.json
scripts/.zsrc
